<!--<div style="text-align: center;">-->
<%#= link_to 'download', {:action => 'download', :id => @book.id}, :class => 'post-card-download' %>
<!--</div>-->
<%= form_tag('/books/goto', method: :get, remote: true) do %>
  <%= hidden_field_tag :id, @book.id %>
  <%= hidden_field_tag :process %>
  <%= submit_tag "processForm", id: 'processForm', style: 'display:none' %>

<% end %>

<%= form_tag('/books/page_size', method: :get, remote: true) do %>
  <%= hidden_field_tag :id, @book.id %>
  <%= hidden_field_tag :page_size %>
  <%= hidden_field_tag :current_pos, 0 %>
  <%= submit_tag "pagesizeForm", id: 'pagesizeForm', style: 'display:none' %>

<% end %>

<main id="site-main">
  <section>
    <article style="text-align: center;">
      <h1> <%= @book.display_name %><span style="color:#ab8248"> #<%= @book.tag %># </span></h1>
      <p>
        <input type="range" min="0" max="100" value="0" style="line-height:50px;align-self: center;" onchange="change_process()" id="range"/>
        <span id="rangeShow" style="line-height: 50px;display: inline-block;">0%</span>
        <%= select_tag "credit_card", options_for_select([[10, 10], [20, 20], [50, 50]], cookies[:page_size]), onchange: "change_pagesize()" %>
      </p>
    </article>
    <article>
      <section class="post-content markdown-body" id="book-section">
        <%= render partial: 'content', locals: {data: @data} %>
      </section>
    </article>
    <!--    <div id="article-related">-->
    <!--      <div class="article-neighbour">-->

    <!--        <div class="article-prev-next">-->
    <%#= link_to 'Previous Page', {:action => 'previous', :pos => 1, :id => 1.1}, remote: true %>
    <!--        </div>-->

    <!--        <div class="article-prev-next">-->
    <%#= link_to 'Next Page', {:action => 'next', :pos => 2, :id => 1.2}, remote: true %>
    <!--        </div>-->

    <!--      </div>-->
    <!--      <div class="article-recent">-->
    <!--        <p>近期文章</p>-->
    <!--        <ul>-->


    <!--          <li class="post">-->
    <!--            <a href="15528915037099.html">环境配置</a>-->
    <!--          </li>-->


    <!--        </ul>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div id="comments-wrap">-->
    <!--      <div class="share-comments">-->

    <!--        <div id="disqus_thread"><iframe id="dsq-app8039" name="dsq-app8039" allowtransparency="true" frameborder="0" scrolling="no" tabindex="0" title="Disqus" width="100%" src="https://disqus.com/embed/comments/?base=default&amp;f=star-blog&amp;t_u=https%3A%2F%2Fwww.zxing.top%2F15401759028050.html&amp;t_d=React%EF%BC%9A%E5%8F%97%E6%8E%A7%E7%BB%84%E4%BB%B6%E4%B8%8E%E9%9D%9E%E5%8F%97%E6%8E%A7%E7%BB%84%E4%BB%B6%E6%B7%B7%E7%94%A8%E5%AE%9E%E6%88%98%20-%20%E8%AF%91%E6%96%87&amp;t_t=React%EF%BC%9A%E5%8F%97%E6%8E%A7%E7%BB%84%E4%BB%B6%E4%B8%8E%E9%9D%9E%E5%8F%97%E6%8E%A7%E7%BB%84%E4%BB%B6%E6%B7%B7%E7%94%A8%E5%AE%9E%E6%88%98%20-%20%E8%AF%91%E6%96%87&amp;s_o=default&amp;d_m=0#version=581fc4aed87cb2aed2487d2df585658d" style="width: 1px !important; min-width: 100% !important; border: none !important; overflow: hidden !important; height: 508px !important;" horizontalscrolling="no" verticalscrolling="no"></iframe></div>-->

    <!--      </div>-->
    <!--    </div>-->
  </section>
</main>

<script type="text/javascript">
    function change_process() {
        var process = $("#range").val();
        document.getElementById('rangeShow').innerHTML = process + '%';
        $("#process").val(process);
        $("#page_size").val($("#credit_card").val());
        $("#processForm").click();
    }

    function change_pagesize() {
        $("#page_size").val($("#credit_card").val());
        $("#current_pos").val($("#curr_pos").val());
        $("#pagesizeForm").click();
    }
</script>
