<!DOCTYPE html>
<html>
<head>
  <title>雲·千羽</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<div class="container">
  <%= yield %>
  <%= render 'layouts/cute' %>
</div>
</body>
</html>
