<!DOCTYPE html>
<html>
<head>
  <title>雲·千羽</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'common', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
