<!DOCTYPE html>
<html lang="">
<head>
  <title>千羽阁</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= action_cable_meta_tag %>

  <%#= stylesheet_link_tag 'layui/layui', media: 'all' %>
  <%#= stylesheet_link_tag 'layui/book', media: 'all' %>
  <%#= stylesheet_link_tag 'layui', media: 'all' %>

</head>

<body>
<div class="container">
  <%= yield %>

</div>
</body>
</html>
