<!DOCTYPE html>
<html lang="">
<head>
  <title>千羽阁</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= action_cable_meta_tag %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'tag', media: 'all' %>
</head>

<body>
<nav id="main-menu">
  <ul>
    <li>
      <%= link_to 'Home', {action: 'category', :id => 'all'}, remote: true %>
    </li>
    <% category_list.each do |x| %>
      <li>
        <%= link_to x.name, {action: 'category', :id => x.id}, remote: true %>
      </li>
    <% end %>

  </ul>
</nav>
<div class="container">
  <%= yield %>

</div>
</body>
</html>
