<!DOCTYPE html>
<html>
<head>
  <title>千羽阁</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<div id="bloodline" style="color: #0681ba;position: absolute;min-height: 200px;min-width: 100px;text-indent: 10px;">

</div>
<% if cookies[:nick_name] %>
  <div style="width: 350px;height: 30px;right: 20px;position: absolute;padding: 10px 10px;">你好，『<span style="color: blue;"><%= cookies[:nick_name] %>
    』</span>
    <br>
    <br>
    <%= link_to '查看库存碎片', all_pieces_path %>
    <br>
    <br>

    <% unless action_name == 'my_pieces' %>

      <%= link_to '管理我的碎片', my_pieces_path %>
      <br>
      <br>
    <% end %>

    <% unless action_name == 'call' %>
      <%= link_to '抽卡模拟器', yys_call_path %>
      <br>
    <br>
    <% end %>
    昵称填写错误？<%= link_to '点此重新绑定', yys_auth_path %>


  </div>
<% end %>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
