<!DOCTYPE html>
<html lang="">
<head>
  <title>千羽阁</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<style type="text/css">
  html, body {
    margin: 0 0;
    padding: 0 0;
    width: 100%;
    height: 100%;
  }
</style>
<body id="yys2">
<div id="bloodline1" style="color: #0681ba;position: absolute;min-height: 200px;min-width: 100px;left: 550px;">

</div>

<div id="bloodline2" style="color: #ba5313;position: absolute;min-height: 200px;min-width: 100px;left: 550px;top: 350px;">

</div>
<% if cookies[:nick_name] %>
  <div>你好，『<span style="color: blue;"><%= cookies[:nick_name] %>
    』</span><span style="font-size: 14px;color: green">*建议使用浏览器操作，移动端暂时未做适配</span>
    <hr>
  </div>
<% end %>

<%= yield %>

</body>
</html>
